<div>
    <div class="d-flex justify-content-between">
        <h3>Courses</h3>
        <form #searchForm="ngForm" (submit)="onSearch()">
            <div class="input-group">
                <input type="text" class="form-control" 
                    [(ngModel)]="courseName"
                    name="courseName"
                    placeholder="Course name" aria-label="Course name" aria-describedby="basic-addon1">
                <button class="btn btn-primary"><i class="bi bi-search"></i></button>
              </div>
        </form>
    </div>
    <div class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Course Level</th>
                <th>Start Date</th>
                <th>Instructor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Java SE</td>
                <td>Java for beginners</td>
                <td>Basic</td>
                <td>30-09-2023</td>
                <td>
                    <a href="#" class="text-decoration-none">Min Lwin</a>
                </td>
                <td class="d-flex gap-3">
                    <a href="#" class="btn btn-outline-primary">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </div>
</div>