<div>
    <h3>Courses</h3>
    <div *ngIf="(errorMessage$ | async) as errorMessage;">
        <span class="text-danger">{{ errorMessage }}</span>
    </div>

    <div *ngIf="(isLoading$ | async)" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!(isLoading$ | async) && !(errorMessage$ | async)">
        <div *ngIf="(courses$ | async) as courses">
            <div *ngIf="courses.length === 0" class="alert alert-info">There is no data.</div>
            <table datatable *ngIf="courses.length > 0" class="table table-striped row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Course Description</th>
                        <th>Course Level</th>
                        <th>Start Date</th>
                        <th>Instructor</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses">
                        <td>{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.level }}</td>
                        <td>{{ course.startDate }}</td>
                        <td>
                            <p>{{ course.instructorName }}</p>
                        </td>
                        <td class="d-flex gap-3">
                            <a [routerLink]="['/courses', course.id]" class="btn btn-outline-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>