<div>
    <div class="d-flex gap-3 mb-3">
        <h3>Courses</h3>
        <a [routerLink]="['/courses/new/0']" class="btn btn-outline-success">
            Add New Course <i class="bi bi-plus-lg"></i>
        </a>
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage;" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errorMessage}}!</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="(isLoading$ | async)" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!(isLoading$ | async) && !(errorMessage$ | async)">
        <div *ngIf="(courses$ | async) as courses">
            <div *ngIf="courses.length === 0" class="alert alert-info">There is no data.</div>
            <table datatable *ngIf="courses.length > 0" class="table table-striped row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Course Description</th>
                        <th>Course Level</th>
                        <th>Start Date</th>
                        <th>Instructor</th>
                        <th *ngIf="isAuthenticated">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses">
                        <td>{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.level }}</td>
                        <td>{{ course.startDate }}</td>
                        <td>
                            <p>{{ course.instructorName }}</p>
                        </td>
                        <td *ngIf="isAuthenticated && (currentUser?.id === course.instructorId); else elseBlock;" class="d-flex gap-3">
                            <a [routerLink]="['/courses/', course.id]" class="btn btn-outline-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a (click)="deleteCourse(course.id)" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <ng-template #elseBlock>
                            <td>
                                <span class="text-danger text-md">You cannot not modify</span>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
