<div>
    <h3>Instructors</h3>

    <div *ngIf="(errorMessage$ | async) as errorMessage">
        <div class="alert alert-danger">{{ errorMessage }}</div>
    </div>

    <div *ngIf="(isLoading$ | async)" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!(isLoading$ | async) && !(errorMessage$ | async) ">
        <div *ngIf="(instructors$ | async) as instructors;">
            <div *ngIf="instructors.length === 0" class="alert alert-info">There is no data.</div>
            <table datatable *ngIf="instructors.length > 0" class="table table-striped row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Instructor Name</th>
                        <th>Instructor Email</th>
                        <th>Instructor Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let instructor of instructors">
                        <td>{{ instructor.id }}</td>
                        <td>
                            <a [routerLink]="['/instructors', instructor.id]" class="text-decoration-none">
                                {{ instructor.name }}
                            </a>
                        </td>
                        <td>{{ instructor.email }}</td>
                        <td>{{ instructor.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>